body {
    background-color: #0052ba;
}

.first {
    display: flex;
    gap: 16px;
    align-items: center;
}

.grow1 {
    flex-grow: 1;
}

#photo {
    visibility: hidden;
    filter: grayscale(100%);
    /* 放大图片*/
    transform: scale(2);
}

#photo img {
    /*图片缩放*/
    width: 50vh;
}


/*  */
.name {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    font-size: 15vw;
    font-weight: 900;
    color: aliceblue;
    /*最上层*/
    z-index: 1;
    /*透明度*/
    opacity: 0.8;

}