body {
    background-color: #0052ba;
    /* 隐藏滚动条*/
    overflow: hidden;
}

.first {
    position: fixed;
    display: flex;
    gap: 16px;
    align-items: center;
    /* justify-content: center; */
}


.first .grow1 {
    flex-grow: 1;
}

#photo {
    visibility: hidden;
    filter: grayscale(100%);
    /* 放大图片*/
    transform: scale(2);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#photo img {
    width: 50vh;
}


/*  */
.first .name {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    font-size: 15vw;
    font-weight: 900;
    color: aliceblue;
    /*最上层*/
    z-index: 1;
    /*透明度*/
    opacity: 0.8;

}


#two {
    gap: 16px;
    align-items: flex-start;
    /* justify-content: center; */
    display: none;
}

#two img {
    filter: grayscale(100%);
    transform: scale(4);
    margin-left: 15vh;
    width: 50vh;
}